
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h3>Category</h3>
<table class="table table-beground">
    
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Yangilash</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Avto turargoh</td>
        <td>100 ta avto sigaadi</td>
        <td>true</td>
        <td> <button class="btn btn-success">Yangilash</button> </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Burik</td>
        <td>Brentlar jamlanmasi</td>
        <td>true</td>
        <td> <button class="btn btn-success">Yangilash</button> </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Avto Zapchast</td>
        <td>xaxlagan turdagi mashinalar uchun</td>
        <td>true</td>
         <td> <button class="btn btn-success">Yangilash</button> </td>
    </tr>
</table>
<buttonc class="btn btn-info">Yangi kategoriya</buttonc>
<button class="btn btn-warning">Kategoriya List</button>
<button class="btn btn-danger"cl>Taxrirlash</button>
